
<html xmlns:th="https://www.thymeleaf.org/">

<body>
<!-- <form action="all" method="POST"> -->
<h3>WELCOME TO SHIPMENT TYPE DATA PAGE!</h3>
<table border="1">
<tr>
<th>ID</th>
<th>MODE</th>
<th>CODE</th>
<th>ENABLE</th>
<th>GRADE</th>
<th>DESCRIPTION </th>
<th>OPERATION</th>
</tr>

<tr th:each="ob:${list}">
<td th:text="${ob.id}"></td>
<td th:text="${ob.shipmentMode}"></td>
<td th:text="${ob.shipmentCode}"></td>
<td th:text="${ob.enableShipment}"></td>
<td th:text="${ob.shipmentGrade}"></td>
<td th:text="${ob.description}"></td>
<td>
        <a th:href="@{/shipmenttype/delete/{id}(id=${ob.id })}">DELETE</a>||
        <a th:href="@{/shipmenttype/edit/{id}(id=${ob.id })}">EDIT</a>
</td>
</tr>



</table>
<!-- </form> -->

<span th:text="${message1}"></span>
</body>
</html>